body{
    font-family: georgia, times, serif;
    background:#e8e8e8;
    color: #333333;
    font-size: 1.3rem;
    line-height: 1.6em;
	margin: 0;
  }   

p{
   margin-bottom: 1.6em;
	 color: #333333;
  }

.container{
     width: 85%;
	max-width: 850px;
	margin: 0 auto;
 }

h1{
	line-height: 1.3em;
  }

.header {
	background: #ADB9D3;
	color: #EDF0F5;
	padding: 2rem 0;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.header a{
	color: white;
	text-decoration:none;
}

.navigation ul{
	justify-content: space-between;
	align-items: center;
	margin:0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #4a4a4a;
}

.footer {
	background: #151B8D;
	padding: 4rem 0;
	text-align: center;
	color: white;
	margin-top: 6rem;
}

.main {
	padding-top: 12rem;
} 

.divcontenedor
   {
    width:99%;
    height:100%;
    padding:5px;
    background: #151B8D;
    }

.divA
   {
    border:1px white;
    width:230px;
    height:230px;
    margin:5px;
    padding:15px;
    float:right;
    background:;
   }

       
.vertical-line 
   {   
    border:2px solid black;
    width:auto;
    height:auto;
    margin:3px;
    padding:18px;
    float:left; 

 

