.divcontenedor
   {
    border:1px solid black;
    width:99%;
    height:auto;
    padding:5px;
    background:#B4BDD1;
    }

.divA
   {
    border:1px solid black;
    width:230px;
    height:200px;
    margin:5px;
    padding:5px;
    background:#fffefe;
   }

body{background:#fecf6a;}   

.divB
   { 
    border:1px solid black;
    width:78%;
    height:130px;
    margin:5px;
    padding:8px;
    float:right;
    background:#fffefe;
    }
p{
   margin-bottom: 1.6em;
	 color: #333333;

                                                       

